.loginp {
    background:#0f0f0f;
}

.loginp .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.loginp .container h3 {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Exo 2', sans-serif;
    color: #fff;
}
.loginp .container h4 {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Exo 2', sans-serif;
    color:#e41339;
    text-align: center;
}

.login-form, .login-form .btn-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-form font {
    text-transform: uppercase;
    font-family: 'Exo 2', sans-serif;
    font-weight: bold;
    font-size: 13px;
    color: #B9BBBE;
    margin-left: auto;
    margin-right: auto;
}

.login-form input {
    padding: 10px;
    height: 15px;
    width: 340px;
    outline: 0;
    background: #303339;
    border: none;
    border-radius: 5px;
    color:#fff;
    border: .5px solid #24262b;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
}

.login-form input:hover {
    height: 15px;
    border: .5px solid #000;
}
.login-form input:focus {
    height: 15px;
    border: .5px solid #5865f2;
    box-shadow: 0 1px 5px 0 #5865f2;
}

.login-form .loginBtn {
    text-transform: uppercase;
    font-family     : 'Montserrat', sans-serif;
    font-weight: 600;
    padding: 10px;
    height: 40px;
    width: 362px;
    outline: 0;
    background: #5865f2;
    border: none;
    border-radius: 5px;
    color:#fff;
    border: .5px solid #24262b;
    margin-top: 20px;
    margin-bottom: 50px;
    transition: .4s ease-out;
    margin-left: auto;
    margin-right: auto;
}

.login-form .loginBtn:hover {
    background: #4e59d6;
}



