body {
    background     : #0f0f0f;
    color          : #000;
    text-decoration: none;
    margin         : 0;
    padding        : 0;
    font-family    : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.chat {
    margin-top: 80px;
}

.container-chat {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.container-chat .chat-card{
    padding: 10px;
    background: #121e2d;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container-chat .post{
    padding: 10px;
    background: #121e2d;
    border-radius: 10px;
    height: 180px;
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.comment-box {
    width: 800px;
    height: auto;
    background: #0f0f0f;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.comment-box .comment-head {
    background: #202020;
    padding: 10px 12px;
    border-bottom: 1px solid #3a3a3a;
    overflow: hidden;
    border-radius: 4px 4px 0 0;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.comment-box .comment-head .comment-info {
    width: 100%;
    display: flex;
    justify-content:space-between;
    height: 18px;
}

.comment-box .comment-content .comment-title {
    color: #fff;
    text-decoration: underline;
    text-underline-offset: 1px;
    text-decoration-color: #e41339;
    font-size: 14px;
}

.comment-box .comment-name {
    color: #fff;
    font-size: 13px;
}

.comment-box .comment-head .comment-info span {
    color: #999;
    font-size: 13px;
}

.comment-box .comment-content {
    background: #2a2a2a;
    padding: 12px;
    font-size: 13px;
    color: #acacac;
    border-radius: 0 0 4px 4px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

@media screen and (max-width: 1280px) {
    .comment-box {
        width: 300px;
    }
}

.chatCard {
    width: 300px;
    height: auto;
}

.chatCard h2 {
    text-align: center;
    color: #999;
    font-size: 15px;
    text-transform: uppercase;
}

.chatCard #send-message {
    width: 100%;
}

.chatCard #send-message .aide-text {
    padding: 8px 8px 8px;
    height: auto;
    width: 278px;
    outline: 0;
    background: #15171a;
    border: none;
    border-radius: 5px;
    color:#fff;
    border: .5px solid #24262b;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    font-size: 13px;
}

.chatCard #send-message input {
    padding: 10px;
    height: 15px;
    width: 278px;
    outline: 0;
    background: #303339;
    border: none;
    border-radius: 5px;
    color:#fff;
    border: .5px solid #24262b;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
}

.chatCard #send-message input:hover {
    height: 15px;
    border: .5px solid #000;
}

.chatCard #send-message input:focus {
    height: 15px;
    border: .5px solid #5865f2;
    box-shadow: 0 1px 5px 0 #5865f2;
}

.chatCard #send-message #chat-btn {
    text-transform: uppercase;
    font-family     : 'Montserrat', sans-serif;
    padding: 10px;
    height: 40px;
    width: 300px;
    outline: 0;
    background: #5865f2;
    border: none;
    border-radius: 5px;
    color:#fff;
    border: .5px solid #24262b;
    margin-top: 20px;
    margin-bottom: 50px;
    transition: .4s ease-out;
    margin-left: auto;
    margin-right: auto;
}

.chatCard #send-message #chat-btn:hover {
    background: #24262b;
    color:#e41339;
}

.chatCard #send-message #chat-btn i {
    margin-right: 10px;
}

#staffCm {
    color: #e41339;
}
