.bannerIco2{
    margin-top: 20vh;
    margin-bottom: 10vh;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    pointer-events: none;
}

.staff {
    background:transparent;
}

.staff .box-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.staff .box-container .staffBox {
    padding: 10px;
    background: #1e2429;
    border: 1px solid #293139;
    border-radius: 5px;
    height: 60px;
    width: 250px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
}

.staff .box-container .staffBox .p-profil {
    border-radius: 30px;
    width: 50px;
    height: 50px;
    background-size: cover;
    margin-top: auto;
    margin-bottom: auto;
}

.staff .box-container .staffBox ul {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
}

.staff .box-container .staffBox .p-name {
    color: #fff;
    font-family       : 'Montserrat Alternates', sans-serif;
    font-weight: 600;
    background: transparent;
    padding: 4px 10px 4px 10px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.staff .box-container .staffBox .p-role {
    font-size: 13px;
    color: #fff;
    font-family       : 'Montserrat Alternates', sans-serif;
    font-weight: 600;
}


#admin {
    color:#ff2020;
    background: #0f0f0f;
    padding: 4px 10px 4px 10px;
    width: 100px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

#modo {
    color:#009600;
    background: #0f0f0f;
    padding: 4px 10px 4px 10px;
    width: 100px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}
#helpeur {
    color: #00ff00;
    background: #0f0f0f;
    padding: 4px 10px 4px 10px;
    width: 100px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

#Syrnaxx {
    background: url("https://minotar.net/helm/syrnaxx/50.png");
}
#Fabien {
    background: url("https://minotar.net/helm/fabien_ferrari/50.png");
}
#PitoBibi {
    background: url("https://minotar.net/helm/PitoBibi/50.png");
}
#Zeldik {
    background: url("https://minotar.net/helm/Zeldik_/50.png");
}
#Looping {
    background: url("https://minotar.net/helm/Looping_LS/50.png");
}
#ayanox {
    background: url("https://minotar.net/helm/__ayanox__/50.png");
}
#Djezzey {
    background: url("https://minotar.net/helm/DjezzeY/50.png");
}